* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

// === nav == //
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    transition: all .3s;
    z-index: 100;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header.active {
    transition: all .3s;
    background-color: #111;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 180px;
    a {
        font-size: 34px;
    }
}

nav {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    
    li {
        margin: 0 15px;
        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 0;
            background-color: #fff;
            margin-top: 2px;
            -webkit-transition: width .3s;
            transition: width .3s ease;
        }

        &:hover::after {
            width: 100%;
        }

        
    }

}

.burger {
    display: none;
    cursor: pointer;
    margin-right: 10px;
    z-index: 1000;
    transition: all .3s ease;
}

.line1, .line2, .line3 {
    transition: all .3s ease;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    &:nth-child(1){
        margin-top: 0;
    }
    
}

@media screen and (max-width: 998px) {
    .header {
        padding-top: 5px;
    }

    .burger {
        display: block;
        position: relative;
    }

    .burger-active{
        
        .line1 {
            position: absolute;
            transform: rotate(45deg) translate(3px, 5px);
        }
        .line2{
            opacity: 0;
        }
        .line3 {
            transform: rotate(-45deg) translate(3px, -5px);
            
        }
    }
    

    body {
        overflow-x: hidden;
    }

    .menu {
        width: 40%;
        position: fixed;
        right: -100%;
        height: 100vh;
        top: 0;
        background-color: #111;
        flex-direction: column;
        transition: 0.3s ease-in;
    }

    .menu li {
        margin-top: 20px;
        opacity: 1;
        &:nth-child(1){
            margin-top: 100px;
        }
    }
   
}

.menu-active {
    right: 0;
}

.toggle .line1 {
    
}


//=== SLIDER ====//

.slider {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    img {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
}

.slider .slick-arrow {
    width: 40px;
    height: 70px;
    position: absolute;
    top: 47%;
    z-index: 10;
    font-size: 0;
    outline: none;
    border: 0;
    cursor: pointer;


}
.slider .slick-arrow.slick-prev {
    left: 30px;
    background: url(../img/left.png) 0 0 no-repeat;
    
}

.slider .slick-arrow.slick-next {
    right: 30px;
    background: url(../img/right.png) 0 0 no-repeat;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-list {
    overflow: hidden;
}

.slider .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
}

.slider .slick-dots li {
    margin: 0 5px;
}

.slider .slick-dots li.slick-active button {
    background-color: #111;
    border: 1px solid #fff;
    transition: .3s;
}
@media(max-width: 1500px) {
    .slider {
        img {
            width: auto;
        }
    }
    
}


@media (max-width: 768px) {

    .slick-arrow {
        display: none;
        opacity: 0;
    }

    .slider .slick-dots {
        left: 45%;
    }
}

//=== INTRO ===//

.intro {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	&__block {
        max-width: 580px;
        text-align: center;
        color: #fff;
    }
    
	&__title-1 {
        font-size: 36px;
    }
    
	&__title-2 {
        font-size: 52px;
        font-weight: 700;
        line-height: 62px;
    }
    
	&__subtitle {
        font-size: 16px;
        margin: 15px 0 45px 0;
    }
    
	&__btn {
        width: 170px;
        height: 50px;
        color: #fff;
        background-color: #998675;
        border: none;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
	}


}





.icons {
    display: flex;
    padding: 60px 0 80px;
		&__block {
            max-width: 270px;
            text-align: center;
            margin-right: 30px;
		}

		&__logo {
            
		}

		&__title {
            font-size: 22px;
            font-weight: 500;
            margin: 25px 0 15px 0;
		}

		&__subtitle {
        }
        
        @media(max-width: 998px) {
            flex-direction: column;
            &__block {
                margin: 0 auto;
                margin-bottom: 40px;
            }
        }
}


.ideas {
    background-color: #FBFAF8;
    &__block {
        max-width: 770px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    &__title {
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        margin: 70px 0 20px 0;
    }

    &__subtitle {
        font-size: 16px;
        color: #8C8C8C;
        margin-bottom: 40px;
    }

    @media(max-width: 767px) {
        img {
            height: 300px;
        }
    }
}



.wordpress {
    width: 100%;
    position: absolute;
    height: 150px;
    background-color: #211B19;

    &__wrapper {
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        margin-left: 15px;
    }

    &__text-title {
        color: #fff;
        font-size: 28px;
        span {
            color: #8C7B6A;
        }
    }

    &__text-subtitle {
        color: #615855;
        font-size: 18px;
    }

    &__btn {
        margin-right: 15px;
        margin-bottom: 15px;
        button {
            width: 170px;
            height: 50px;
            border: none;
            border-radius: 5px;
            outline: none;
            background-color: #998675;
            font-size: bold;
            text-transform: uppercase;
            color: #fff;
        }
    }
    @media(max-width: 576px) {
        height: 200px;
        &__wrapper {
            height: 200px;
            flex-direction: column;
            text-align: center;
        }
        &__text-title {
            margin-top: 20px;
        }
    }
}


//=== projects ===//

.projects {
    padding-top: 225px;
    text-align: center;
    padding-bottom: 70px;
    &__title {
        font-size: 30px;
        font-weight: 500;
        color: #555555;
        margin-bottom: 20px;
    }

    &__subtitle {
        margin: 0 auto;
        text-align: center;
        max-width: 760px;
    }

    &__tabs {
        margin-top: 40px;
        margin-bottom: 25px;
        }

        button {
            padding: 5px 25px;
            border: 1px solid #EBEBEB;
            background-color: #fff;
            border-radius: 5px;
            color: #8C8C8C;
            cursor: pointer;
        }

        button.active {
            background-color: #998675;
            color: #fff;
        }
    

    &__list {
        display: flex;
        flex-wrap: wrap;
        display: none;
        
        
    }   

.projects__list.active {
    display: flex;
    
}


    &__item {
        position: relative;
        width: 360px;
        height: 330px;
        margin: 15px;
        cursor: pointer;
        

        img {
            width: 360px;
        }
        &:nth-child(1) {
        }
        &-text {
            position: absolute;
            bottom: 0;
            width: 360px;
            height: 100px;
            background-color: #FBFAF8;
            text-align: left;
            padding: 25px;
            color: #C7B299;
            transition: all .3s;
            p {
                color: #D1D1D1;
            }
        }

        &:hover {
            
          .projects__item-text {
              background-color: #362F2D;
              color: #fff;
              transition: all .3s ease;
              
              p {
                  color: #C7B299;
              }
          }
        }
    }

    @media(max-width: 1170px) {
        &__item {
            margin: 0 auto;
            &:nth-child(1) {
            }
        }
    }

    @media(max-width: 736px) {
        .projects__item {
            margin-bottom: 15px;
        }
    }
}



.video {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    img {
        z-index: 10;
       cursor: pointer; 
    }
    &__title {
        z-index: 10;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    &__subtitle {
        max-width: 570px;
        z-index: 10;
        text-align: center;
    }
    video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
    @media(max-width: 1023px) {
        video {

        }

        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }
}
    
//=== PHONE ===//

.phone {
    margin-top: 70px;
    &__wrapper {
        display: flex;
    }
    &__text {
        padding-right: 10px;
        padding-left: 10px;
    }
    &__title {
        font-size: 30px;
        color: #555555;
        font-weight: 500;
        margin: 100px 0 30px 0;
    }

    &__subtitle {
        font-size: 16px;
        color: #8C8C8C;
        font-weight: 300;
        margin-bottom: 40px;
    }

    &__list {
        li {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            color: #8C8C8C;
        }
        img {
            margin-right: 30px;
        }
    }

    @media(max-width: 767px) {
        &__wrapper {
            flex-direction: column;
        }
        .phone__img {
            width: 100%;
            height: 100%;
        }
        &__list {
            text-align: left;
            font-size: 14px;
            li {
                margin-bottom: 20px;
            }
        }
        img {
            margin-right: 5px;
        }
    }
}



.we {
    background-color: #211B19;
    padding-top: 70px;
    padding-bottom: 60px;
    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #C7B299;
        flex-wrap: wrap;
    }

    &__item {
        width: 170px;
        height: 170px;
        text-align: center;
        position: relative;
        img {
            width: 40px;
            height: 40px;
        }
        span {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 40%;
        }
    }

    &__num {
        font-size: 48px;
        color: #fff;
    }

    @media(max-width:510px) {
        &__item {
            margin-bottom: 20px;
        }
    }

}
.arrow {
    width: 5px;
    height: 7px;
    transition: all .3s;
    &.active {
        margin-left: 40px;
        
    }
}



.posts {
    text-align: center;
    padding-bottom: 80px;
    &__title {
        margin-top: 75px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 600;
        color: #555555;
    }

    &__subtitle {
        max-width: 760px;
        margin: 0 auto;

    }
}
.slider {

    
    &__posts {
        position: relative;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    
    &__posts-item {
        width: 370px;
        height: 395px;
        transition: all .3s;
        img {
            margin-top: 10px;
        }
        &_text {
            padding: 25px;
            text-align: left;
            font-size: 14px;
           
            p {
                font-size: 20px;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                    margin-top: 5px;
                    position: absolute;
                    bottom: 15px;
                    cursor: pointer;
                }
            }
            
            img {
             
            }
        }
        &:hover {
            background-color: #362F2D;
            color: #fff;
            
            p {

                color: #C7B299;
                
            }
        }
        @media(max-width: 768px) {

        }
    }
}

.slider__posts .slick-arrow {
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 0;
    font-size: 0;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        
    }
    @media(max-width: 768px) {
        opacity: 1;
        left: 45%;
        
    }

}
.slider__posts .slick-arrow.slick-next {
    background: url(../img/arrows-slider/right.png) center no-repeat;
    margin-left: 30px;
}
.slider__posts .slick-arrow.slick-prev {
    background: url(../img/arrows-slider/left.png);
    margin-right: 30px;
    z-index: 10;
}



.logos {
    background: url(../img/logos/Clip.png) center no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 140px;
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        img {
            margin-bottom: 40px;
        }
    }
}